<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-screen</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
</head>
<body>
    <main>
        {% block content %}
        <div class="container">
            <section class="one">
                <div class="first">
                    <h2>Calendar App</h2>
                    <button class="button" onclick="redirectToPage()"><img src="../../../static/images/google.png" alt="Google Logo">Sign in to Google</button>
                </div>
            </section>
        </div>
        {% endblock %}
    </main>
    <script>
        function redirectToPage(){
            window.location.href = "{% url 'google-login' %}";
        }       
    </script>
</body>
</html>