<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-tasks</title>
    {% load static%}
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="{% url 'upcoming' %}">Upcoming</a></li>
                <li><a href="{% url 'addtask' %}">Add Events</a></li>
            </ul>
            <ul>
                <li><a href="#">Welcome back!</a></li>
                <li class="hideOnMobile"><a href="{% url 'upcoming' %}">Upcoming</a></li>
                <li class="hideOnMobile"><a href="{% url 'addtask' %}">Add Events</a></li>
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content%}
        <article id="more">
            <br>
            <h2 class="header">Add events to Google Calendar</h2>
            <hr>
        </article> 
        <form method="POST">
            <div class="container">
                {% csrf_token %}
                <section>
                    <p><label>Event Name: <input name="TaskName" id="taskName"></label></p>
                    <p><label>Description: <textarea name="desc" id="desc" rows="3" cols="50"></textarea></label></p>
                    <p><label>Start Time: <input type="datetime-local" name="startTime" id="startTime"></label></p> 
                    <p><label>End Time: <input type="datetime-local" name="endTime" id="endTime"></label></p> 
                    <p>
                        <label>Select Calendar:</label>
                        <select name="calendar" id="calendar">
                            <option value="personal">Personal</option>
                            <option value="shared">Shared</option>
                        </select>
                    </p>
                </section>
            </div>
            <br><br>
            <p><button type="submit">Submit</button></p>
            {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                {{ message }}
                </div>
            {% endfor %}  
        {% endif %}
        </form>
        {% endblock%}
    </main>
</body>
</html>